<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

		<property name="show_sql">true</property>
		<property name="format_sql">false</property>
		<property name="hbm2ddl.auto">update</property>
		<!-- 懒加载，配合web.xml中配置的 openSessionInViewFilter -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="javax.persistence.validation.mode">none</property>
		
		<!--加载映射文件-->
		<mapping resource="cn/itcast/jk/domain/Dept.hbm.xml"></mapping>
		<mapping resource="cn/itcast/jk/domain/User.hbm.xml"></mapping>
		<mapping resource="cn/itcast/jk/domain/Userinfo.hbm.xml"></mapping>
		<mapping resource="cn/itcast/jk/domain/Role.hbm.xml"></mapping>
		<mapping resource="cn/itcast/jk/domain/Module.hbm.xml"></mapping>
		<!--加载映射文件-->
		<!--货物信息-->
		<mapping resource="cn/itcast/jk/domain/ContractProduct.hbm.xml"></mapping>
		<!--合同信息-->
		<mapping resource="cn/itcast/jk/domain/Contract.hbm.xml"></mapping>
		<!--货物附件信息-->
		<mapping resource="cn/itcast/jk/domain/ExtCproduct.hbm.xml"></mapping>
		<!--工厂信息-->
		<mapping resource="cn/itcast/jk/domain/Factory.hbm.xml"></mapping>
		<!--报运信息-->
		<mapping resource="cn/itcast/jk/domain/Export.hbm.xml"></mapping>
		<!--报运表单下的货物-->
		<mapping resource="cn/itcast/jk/domain/ExportProduct.hbm.xml"></mapping>
		<!--报运表单下的附件-->
		<mapping resource="cn/itcast/jk/domain/ExtEproduct.hbm.xml"></mapping>
		
		<mapping resource="cn/itcast/jk/domain/ShippingOrder.hbm.xml"/>
		
		<mapping resource="cn/itcast/jk/domain/PackingList.hbm.xml"/>
		
		<mapping resource="cn/itcast/jk/domain/Invoice.hbm.xml"/>
		
		<mapping resource="cn/itcast/jk/domain/Finance.hbm.xml"/>
		</session-factory>
</hibernate-configuration>