<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
	xmlns:p="http://www.springframework.org/schema/p"  
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">  
	
	<bean id="deptService" class="cn.itcast.jk.service.impl.DeptServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="userService" class="cn.itcast.jk.service.impl.UserServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="roleService" class="cn.itcast.jk.service.impl.RoleServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="moduleService" class="cn.itcast.jk.service.impl.ModuleServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="contractService" class="cn.itcast.jk.service.impl.ContractServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="contractProductService" class="cn.itcast.jk.service.impl.ContractProductServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="factoryService" class="cn.itcast.jk.service.impl.FactoryServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="extCproductService" class="cn.itcast.jk.service.impl.ExtCproductServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="exportService" class="cn.itcast.jk.service.impl.ExportServiceImpl" >
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	<bean id="exportProductService" class="cn.itcast.jk.service.impl.ExportProductServiceImpl">
		<property name="baseDao" ref="baseDao"></property>
	</bean>
	
	
	
	
	<bean id="financeService" class="cn.itcast.jk.service.impl.FinanceServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="invoiceService" class="cn.itcast.jk.service.impl.InvoiceServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="shippingOrderService" class="cn.itcast.jk.service.impl.ShippingOrderServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	<bean id="packingListService" class="cn.itcast.jk.service.impl.PackingListServiceImpl">
		<property name="baseDao" ref="baseDao"/>
	</bean>
	
	
	
</beans>